.content-box {
    background-color: #fafafb;
    box-shadow: 1px 4px 8px rgba(0,0,0,.15);
    transition: all .3s ease-in-out;
    padding: 10px;
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 100%;
}

.title{
    text-align: left;
    color: #54a0ff;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
}

.date{
    text-align: right;
    color:#54a0ff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}
.position{
    
    text-align: left;
    color:#6c7585;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
}

.data-exp{
    text-align: left;
    color:#6c7585;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
}

.lab{
    color:#343a40;;
    font-weight: 600;
}

.info-del{
    align-items: right;
}