
.custom-file-upload {
    margin-top: 20px;
    padding-left: 20px;
    text-align: center;
    
    height: 37px;
    color: white;
    background-color: #343a40;
    font-family: 'lato',sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
}

.custom-file-upload:hover{
    color: #4188e0;
}

input[type="file"] {
    display: none;
}


img {
    margin: 0 auto;
    max-width: 150px;
    max-height: 150px;
    
    object-fit: contain;
    border-radius: 50% 50% 50% 50%;
    border: 6px solid rgba(255, 255, 255, 0.3);
}