.name_text{
    font-size: 3.5em;
    font-weight: 900;
    margin-top: 20px;
    text-align:left;
    margin-left: 20px;
    color:#343a40;
    font-family: 'Lato', sans-serif;
}


.heading{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 4rem;
    color: #343a40;
    margin-left: 20px;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 900;
}

.name_text1{
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 20px;
    text-align:left;
    margin-left: 20px;
    color:#343a40;
    font-family: 'Saira Extra Condensed', sans-serif;
}


.last_name{
    margin-left: 10px;
    color:#54a0ff;;
    
}

.info-set{
    margin-top: 30px;
}

.gap{
    margin-top: 30px;
}